fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
langchain-huggingface
langchain-core>=1.3.0
langchain-groq>=0.2.1
langchain-google-genai>=4.2.2

supabase>=2.10.0
httpx>=0.28.1
sentence-transformers==3.1.1
loguru==0.7.2